<h1>New Event</h1>
<hr>
<form method="POST" action="/meetups" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Minecraft Lets Play! (puke)" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" name="image" id="image" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control" maxlength="255" placeholder="Totally awesome event where we do some thing and have fun hhehehah" required></textarea>
  </div>
  <div class="form-group">
    <label for="food">Food</label>
    <input type="text" name="food" id="food" class="form-control" placeholder="Bring your own? Takeaway? Served on the day?">
  </div>
  <div class="form-group">
    <label for="requirements">Requirements</label>
    <input type="text" name="requirements" id="requirements" class="form-control" placeholder="If nothing, just type that.">
  </div>
  <div class="form-group">
    <label for="maxUsers">Maximum Attendees</label>
    <input type="number" name="maxUsers" id="maxUsers" class="form-control">
  </div>
  <div class="form-group">
    <label for="input">Location</label>
    <input type="text" name="location" id="input" class="form-control">
  </div>
  <div id="map"></div>
  <input type="hidden" name="lat" value="">
  <input type="hidden" name="lng" value="">
  <button id="newMeetup">Create</button>
</form>
