<% if(locals.user) { %>
  <div class="row titleContainer align-items-center">
    <div class="col">
      <ul class="loggedNav">
        <li><img src="<%= locals.user.profilePicSRC %>" style="height: 105px;border-radius: 100%;width: 120px;"></li>
        <li><a href="/profile">ok</a></li>
        <li>u bloody wot</li>
        <li>u bloody wot</li>
        <li>u bloody wot</li>
      </ul>
    </div>
  </div>
<% } else { %>
  <div class="row titleContainer">
    <div class="col">
      <a href="/"><h1>Gaming Meetups</h1>
      <h5>Much better than poker.</h5></a>
    </div>
  </div>
<% }%>
