<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><% if(locals.user) { %>
    <img src="<%= locals.user.profilePic %>" width="80" height="auto" class="d-inline-block align-top" style="border-radius:40%;" alt="User">
  <% }%></a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">ayy <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/meetups">meetups</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
    </ul>
    <span class="navbar-text">
      Navbar text with an inline element
    </span>
  </div>
</nav>
