<% if(locals.user) { %>
  <div class="row titleContainer align-items-center">
    <div class="col">
      <p class="loggedNav"><a href="/profile"><img src="<%= locals.user.profilePicSRC %>" class="profilePic"> <%= locals.user.username %></a> <a href="/meetups">Meetups</a> <a href="/users">Users</a> <a href="/logout">Logout</a> <a href="/meetups/new"><i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i></a></p>
    </div>
  </div>
<% } else { %>
  <div class="row titleContainer">
    <div class="col" id="padding">
      <a href="/"><h1>Gaming Meetups</h1>
      <h5><%- locals.titles[Math.floor(Math.random() * 10)] %></h5></a>
    </div>
  </div>
<% } %>
