<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>project-2</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <a href="/">ayy</a>
    <a href="/login">login</a>
    <a href="/register">register</a>
    <a href="/logout">logout</a>
    <a href="/users">users</a>
    <a href="/profile">profile</a>
    <a href="/meetups">meetups</a>
    <% for(const type in messages) { %>
      <div class="<%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
    <% } %>
    <main>
      <%- body %>
      <% include ./partials/scripts %>
    </main>
  </body>
</html>
