<div class="row align-items-center">
  <div class="col-sm-6">
    <img src="https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0056/6775/rrrrrmissingno_shop_preview.png" class="img-fluid">
  </div>
  <div class="col-sm-6">
    <h3>404: MissingNo Located <br> Page Not Found</h3>
  </div>
</div>
