<div class="row align-items-center index">
  <div class="col-6">
    <a href="/login" class="button login" id="loginPg">Login</a>
  </div>
  <div class="col-6">
    <a href="/register" class="button register" id="registerPg">Register</a>
  </div>
</div>
