<div class="row align-items-center index">
  <div class="col-6">
    <a href="/register" class="button register">Register</a>
  </div>
  <div class="col-6">
    <a href="/login" class="button login">Login</a>
  </div>
</div>
