$font: 'Press Start 2P', cursive;

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  background-image: url('https://s3-eu-west-1.amazonaws.com/wdi-london-project-2/ep_naturalblack.png');
  color: white;
}

a {
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

#register {
  text-align: right;
}

.titleContainer {
  margin-bottom: 10px;
  a {
    padding: 30px;
    h1 {
      font-size: 7vh;
      &:hover {
        color: yellow;
        font-size: calc(7vh + 3px);
      }
    }
    h5 {
      font-size: 4vh;
    }
  }
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: $font;
}

.row {
  text-align: center;
}

.index {
  height: 60vh;
}

.loginForm {
  font-size: 3vh;
  font-family: $font;
  height: 40vh;
}

.register, .login {
  font-size: 4vw;
  font-family: $font;
  padding: 20px;
  transition: background-color .15s;
  &:hover {
    font-size: calc(4vw + 3px);
    color: yellow;
  }
}

#map {
  height: 300px;
  background-color: orange;
}
.flash {
  text-align: center;
  &.alert {
    color: orange;
  }
  &.danger {
    color: red;
  }
  &.success {
    color: green;
  }
  h4 {
    font-size: 4vh;
  }
}

#registerBtn, #loginBtn {
  text-align: center;
  font-family: $font;
  background: none;
  padding: 10px;
  color: white;
  font-size: 16px;
  &:hover {
    cursor: pointer;
    color: yellow;
  }
  &:active {
    color: orange;
  }
}

.loggedNav {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#loginBtn {
  margin-top: 20px;
}
