* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  background-color: steelblue;
}

.profilePic {
  border-radius: 45%;
  width: 100px;
  height: auto;
}

#navPic {
  border-radius: 20%;
}
