<h2>Profile Page</h2>
<form method="POST" action="/profile" enctype="multipart/form-data">
  <div>
    <label for="profilePic">Profile Picture</label>
    <input type="file" name="profilePic" id="profilePic">
  </div>
  <button class="button">Post dat shit</button>
</form>
<form method="POST" action="/profile">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn btn-danger">Delete</button>
</form>

<h3>Hosting</h3>
<% hosting.forEach((hosting) => { %>
  <p><a href="/meetups/<%= hosting.id %>" style="color: orange;"><%= hosting.name %></a></p>
<% }) %>

<h3>Attending</h3>
<% attending.forEach((attending) => { %>
  <p><a href="meetups/<%= attending.id %>" style="color: yellow;"><%= attending.name %></a></p>
<% }) %>
