<h1>Yo what up profile page</h1>
<p><%= locals.user.username %></p>
<p><%= locals.user.email %></p>
<p>meetups: <%= locals.user.meetups[0].name %></p>
<image src="<%= locals.user.profilePic %>" class="profilePic">
